.home-branding-text {
  font-family: sans-serif;
  font-weight: 100;
  font-size: clamp(20pt, 4vw, 40pt);
  color: white;
}

.home-branding-copy {
  font-family: sans-serif;
  font-weight: 100;
  font-size: clamp(8pt, 1.5vw, 10pt);
  color: white;
  text-align: right;
}

.home-reel-div {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: green;
}

.mainMenu-ul {
  display: flex;
  align-items: stretch; /* Default */
  justify-content: space-between;
  width: 90vw;
  left: 5vw;
  margin: 6vh -15px 0 0;
  padding: 0;
  position: absolute;
  z-index: 9999;
}

.mainMenu-li {
  display: block;
  flex: 0 1 auto; /* Default */
  list-style-type: none;
}

.product-category-text {
  font-family: sans-serif;
  font-weight: 100;
  color: white;
  font-size: clamp(10pt, 4vw, 30pt);
  cursor: pointer;

  display: inline-block;
  position: relative;
}

.product-category-text:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.product-category-text:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.product-category-text-active {
  border-bottom: solid 1px white;
}

/* .home-project-wrapper {
  width: 100%;
  display: grid;
  grid-gap: 5px;
  text-align: center;
} */

/* .home-prodContainers div {
  background-color: black;
  aspect-ratio: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;

} */

.home-overlay-text {
  color: white;
  position: absolute;
  z-index: 99;
  font-size: clamp(8pt, 3vw, 18pt);
}

.square {
  position: relative;
  flex-basis: calc(33.333% - 10px);
  margin: 5px;
  box-sizing: border-box;
}

.square::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.square .content {
  background-color: black;
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}